//
// DefaultAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class DefaultAPI {

    /**
     * enum for parameter stage
     */
    public enum Stage_v1EndpointPost: String, CaseIterable {
        case prod = "prod"
        case int = "int"
    }

    /**

     - parameter stage: (header)  
     - parameter requestModelA: (body)  
     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - parameter completion: completion handler to receive the data and the error objects
     */
    @discardableResult
    open class func v1EndpointPost(stage: Stage_v1EndpointPost, requestModelA: RequestModelA, apiResponseQueue: DispatchQueue = OpenAPIClientAPI.apiResponseQueue, completion: @escaping ((_ data: ResponseModelA?, _ error: Error?) -> Void)) -> RequestTask {
        return v1EndpointPostWithRequestBuilder(stage: stage, requestModelA: requestModelA).execute(apiResponseQueue) { result in
            switch result {
            case let .success(response):
                completion(response.body, nil)
            case let .failure(error):
                completion(nil, error)
            }
        }
    }

    /**
     - POST /v1/endpoint
     - parameter stage: (header)  
     - parameter requestModelA: (body)  
     - returns: RequestBuilder<ResponseModelA> 
     */
    open class func v1EndpointPostWithRequestBuilder(stage: Stage_v1EndpointPost, requestModelA: RequestModelA) -> RequestBuilder<ResponseModelA> {
        let localVariablePath = "/v1/endpoint"
        let localVariableURLString = OpenAPIClientAPI.basePath + localVariablePath
        let localVariableParameters = JSONEncodingHelper.encodingParameters(forEncodableObject: requestModelA)

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            "Content-Type": "application/json",
            "Stage": stage.encodeToJSON(),
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<ResponseModelA>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "POST", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
